/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
}

ul, li {
    list-style: none;
}

a {
    color: #999999;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-size: 13px;
    font-weight: 400;
    outline: 0;
    line-height: 22px;
}

input {
    border: none;
}

/*input,select,textarea {*/
/*font-size: 100%;*/
/*}*/

textarea {
    resize: none;
    overflow: auto;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*清除浮动*/
.clearfloat {
    zoom: 1;
}

.clearfloat:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

/*底层div样式*/
#main {
    margin: 90px auto 40px;
    width: 1024px;
    height: 768px;
    background: inherit;
    background-color: rgba(244, 244, 244, 1);
    border: none;
    border-radius: 0;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 0 5px 5px 0px rgba(0, 0, 0, 0.349019607843137);
}

/*通用字体样式*/
.font_common {
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-style: normal;
    font-kerning: normal;
    text-align: left;
    font-weight: 700;
}

/*左侧边栏*/
.left_sidebar {
    position: relative;
    float: left;
    width: 168px;
    height: 768px;
    background: inherit;
    background-color: rgba(0, 51, 51, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*产品信息*/
.left_sidebar .product_info {
    position: relative;
    width: 87%;
    height: 90px;
    border-bottom: 2px solid #7c7c7c;
    padding: 20px 10px 14px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    font-size: 14px;
}

.left_sidebar .product_logo {
    /*position: relative;*/
    float: left;
    width: 25%;
    height: 50px;
}

.left_sidebar .product_text {
    /*position: relative;*/
    float: right;
    margin-top: 5px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.left_sidebar .product_version {
    font-weight: 400;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

/*restore按钮*/
.left_sidebar .restore_btn {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #169bff;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 7px;
    border: none;
}

/*币种选择菜单*/
.l_menu {
    color: #999999;
}

.currency_menu, .calendar_menu {
    margin-top: 12px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.menu_list a {
    display: block;
}

.currency_menu:hover, .calendar_menu:hover {
    color: #ffffff;
}

.current {
    color: #ffffff;
}

#money_icon, #calendar_icon {
    float: left;
    display: inline-block;
    margin: 4px 10px 0;
}

.money, .DateTime {
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    padding-top: 8px;
}

.left_sidebar .direct_arrow {
    float: right;
    display: inline-block;
    width: 20px;
    margin-right: 16px;
    padding-top: 5px;
    font-weight: bold;
    text-align: right;
}

.currency_menu .fa-angle-right {
    display: none;
}

.calendar_menu .fa-angle-down {
    display: none;
}

.money_list, .date_list {
    margin-top: 12px;
    width: 100px;
    height: auto;
    text-align: right;
    font-size: 14px;
    overflow: hidden;
}

.date_list {
    display: none;
}

.money_list li, .date_list li {
    margin-bottom: 6px;
    color: #999999;
}

.active {
    color: #ffffff;
@import text-decoration: none;
}

/*右侧内容部分*/
.right_content {
    position: relative;
    float: right;
    width: 856px;
    height: 768px;
    background-color: rgba(244, 244, 244, 1);
}

/*顶部边栏*/
.right_content .right_top_bar {
    width: 100%;
    height: 40px;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(204, 204, 204, 1) 97%, rgba(204, 204, 204, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(204, 204, 204, 1) 97%, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 2%, rgba(204, 204, 204, 1) 97%, rgba(204, 204, 204, 1) 100%);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    line-height: 40px;
}

/*右侧主体部分*/
.right_content .right_main {
    position: relative;
    width: 100%;
    height: 728px;
}

.right_top_bar .list_icon {
    float: left;
    margin: 7px 10px;
    color: #128a53;
    display: inline-block;
}

.history {
    float: right;
    padding: 9px 12px 4px 0;
    color: #1fca6a;
}

.active_btn {
    float: right;
    width: 90px;
    height: 29px;
    background: #1fca6a;
    color: #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 6px 12px 4px 0;
    text-align: center;
}

/*1.1版本新增清除历史记录 */
.fa-trash-o {
    font-weight: bold;
    margin-right: 10px;
}

/*右侧主题部分顶栏标题*/
.right_top_bar .money-title, .right_top_bar .date-title {
    position: relative;
    display: inline-block;
}

/*输入框*/
.oNumber {
    position: relative;
    margin: 20px;

}

.number_label, .number_input, .convert_button {
    display: inline-block;
}

.number_label {
    text-align: left;
    font-size: 14px;
    color: #000000;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    line-height: 32px;
    margin-right: 11px;
    margin-left: -4px;
}

.number_input {
    padding: 1px;
    height: 25px;
    width: 75.6%;
    text-align: left;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #cccccc;
}

.number_input:focus {
    box-shadow: 0 0 8px 0 #169bff;
    -webkit-box-shadow: 0 0 8px #169bff;
    -moz-box-shadow: 0 0 8px #169bff;
}

.convert_button {
    width: 89px;
    height: 32px;
    margin: 0 19px;
    background-color: #169bff;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.num-cash {
    position: relative;
    width: 95.33%;
    height: 76px;
    margin: 20px 12px 0 20px;
    background: #ffffff;
    border: none;
    line-height: 76px;
    color: #000000;
}

.yen_icon {
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 14px;
    height: 56px;
}

.cs_icon {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: 10px;
    height: 30px;
    width: 62px;
}

.cash_text {
    display: inline-block;
    position: absolute;
    left: 65px;
    width: 77%;
    height: 76px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}

.cash_yen {
    color: #0099ff;
}

.custom_title {
    text-align: center;
    color: #000000;
    width: 95.33%;
    height: 46px;
    margin: 0 auto;
    line-height: 46px;
    vertical-align: middle;
}

.tab {
    display: inline-block;
    padding-top: 6px;
}

.libraryTab {
    margin-left: 68px;
}

.fa-question-circle-o {
    float: right;
    color: #1fca6a;
    margin-top: 9px;
}

/*自定义*/
.custom {
    margin: 0 auto;
    width: 95.33%;
    height: 411px;
    border: 1px solid #7c7c7c;
    background: #ffffff;
}

/*用户自定义*/

.head_row {
    position: relative;
    background: #ffffff;
    width: 96.33%;
    height: 30px;
    line-height: 30px;
    margin: 3px auto;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.row {
    background: #f0f0f0;
    width: 96.33%;
    height: 30px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
    vertical-align: middle;
}

.result {
    text-align: center;
}

.tooltips {
    display: block;
    position: absolute;
    z-index: 111;
    left: 0;
    top: 30px;
    height: 20px;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
}

.higTips {
    display: inline-block;
    font-weight: 700;
    color: #f00000;
    background-color: #ffff00;
}

.custom_input {
    display: inline-block;
    float: left;
    width: 44.5%;
    margin-top: 3px;
    height: 24px;
    line-height: 24px;
    background: transparent;
    border: none;
    white-space: nowrap;
    overflow-x: auto;
}

.custom_input_l {
    color: #333333;
    margin-right: 0.5%;
}

.custom_input_r {
    text-align: center;
    color: #333333;
    font-weight: normal;
}

.custom_check {
    display: inline-block;
    float: right;
    width: 8%;
    height: 30px;
    margin-right: 1.5%;
    text-align: right;
    line-height: 30px;
    visibility: hidden;
}

.fa-check {
    float: left;
    color: #128a53;

}

.fa-times {
    float: right;
    color: #f91628;

}

.custom_result {
    width: 100%;
    height: 350px;
    overflow-y: auto;
}

.custom_info {
    color: #000000;
    text-align: right;
    margin-right: 20px;
    font-weight: 400;
}

.custom_font {
    font-size: 13px;
    font-weight: 400;
}

/*自定义管理库 library*/
.library_area {
    display: none;
    overflow-y: auto;
    position: relative;
}

.library_table {
    background: #ffffff;
    width: 96.33%;
    margin: 20px auto;
    border: none;
    text-align: center;
    color: #333333;
    font-size: 13px;
    font-weight: normal;
}

.library_area tr {
    width: 100%;
    height: 28px;
    line-height: 28px;
}

.library_area thead {
    background: #1fca6a;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

.library_area th, .library_area td {
    border: 1px solid #1fca6a;
}

.library_table .l_mode, .l_format {
    width: 20%;
}

.library_table .l_example {
    width: 60%;
}

/* 复制提示 */
.copy-t-tips, .copy-m-tips {
    display: inline-block;
    position: absolute;
    right: 22px;
    bottom: -25px;
    z-index: 999;
    color: #c1e2b3;
    /*background-color:rgba(0, 0, 0, 0.2);*/
    /*filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);*/
}

/*历史记录*/
.conversion_history {
    width: 95.33%;
    height: 89%;
    margin: 20px auto;
    display: none;
    text-align: center;
    border: 1px solid #CCCCCC;
    background: #ffffff;
    overflow: auto;
}

.table_title {
    width: 100%;
    height: 40px;
    background: -webkit-linear-gradient(180deg, rgba(30, 218, 118, 1) 0%, rgba(51, 218, 139, 1) 2%, rgba(96, 216, 163, 1) 97%, rgba(174, 219, 193, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(30, 218, 118, 1) 0%, rgba(51, 218, 139, 1) 2%, rgba(96, 216, 163, 1) 97%, rgba(174, 219, 193, 1) 100%);
    background: linear-gradient(180deg, rgba(30, 218, 118, 1) 0%, rgba(51, 218, 139, 1) 2%, rgba(96, 216, 163, 1) 97%, rgba(174, 219, 193, 1) 100%);
    border: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    line-height: 40px;
}

.info {
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-weight: 700;
    font-size: 16px;
    color: #999999;
}

.table {
    width: 95%;
    margin: 20px auto;
    border: solid #add9c0;
    border-width: 2px 0 0 0;
    border-collapse: collapse;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-size: 12px;
    font-weight: normal;
}

.table tr {
    width: 100%;
    margin: 0 auto;
}

.table th, .table td {
    border: solid #add9c0;
    border-width: 0 0 2px 0;
    padding: 10px;
}

.index, .mode {
    width: 7.2%;
    text-align: center;
}

._num {
    width: 24.6%;
    text-align: left;
    word-break: break-all;
}

.convResult {
    width: 34.1%;
    text-align: left;
    word-break: break-all;
}

/* 验证表单的错误信息*/
.err-message:nth-child(3) {
    position: absolute;
    top: 30px;
    left: 63px;
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
}

/*loading效果*/
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    z-index: 10000;
    background: #ffffff;
    opacity: 0.8;
    border: none;
    display: none;
}

/*dateTime 右侧部分 */
.date_disable {
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    cursor: no-drop;
}

.date_form {
    width: 95.33%;
    height: 25px;
    margin: 25px 2.34% 12px;
}

.date_time_ipt {
    width: 25.76%;
    height: 25px;
    line-height: 25px;
    border: 1px solid #cccccc;
    background: #ffffff;
    box-sizing: border-box;
    padding-left: 2px;
}

.setting {
    width: 90px;
    height: 25px;
    background: #032626;
    color: #ffffff;
    font-weight: 700;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-left: 2.42%;
    margin-right: 16.81%;
}

.locale_select_wrap {
    display: inline-block;
    position: relative;
}

.locale_select_wrap {
    width: 16.69%;
    display: inline-block;
}

.locale_select {
    border: 1px solid #cccccc;
    /*-moz-appearance:button;*/
    /*-webkit-appearance:button;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    background: #ffffff;
    height: 25px;
    line-height: 25px;
    box-sizing: border-box;
    padding-left: 2px;
}

.fa-caret-down {
    margin-left: -16px;
}

.date_format {
    width: 95.33%; /*96.61%*/
    height: 638px;
    margin: 25px 2.34% 12px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    overflow: scroll;
}

.date_table {
    margin: 1.25% 10px;
    width: 97.5%;
    border: 1px solid #cccccc;
    border-collapse: collapse;
    box-sizing: border-box;
}

.date_table thead th, .date_table td {
    border: 1px solid #999999;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}

.date_table tr td:nth-of-type(2), .date_table tr td:nth-of-type(4) {
    padding-left: 2px;
    text-align: left;
}

.date_table tbody {
    font-weight: 400;
}

.dateTips {
    display: block;
    position: absolute;
    left: 15px;
    font-weight: normal;
    font-size: 12px;
    color: #ff0000;
}
