body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'SF UI Text Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, Verdana, sans-serif;	
}	

#main{
	margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

div.right_content .right_main {
	height: 0
}